<a href="https://colab.research.google.com/github/Khusheyy/uni-assignments/blob/main/declarative_programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3

connection = sqlite3.connect("MyStud.db")
crsr = connection.cursor()

sql_command = """CREATE TABLE Student(
studID INTEGER PRIMARY KEY,
fname varchar(20),
email varchar(40),
gender varchar(30),
Physics int,
Chemistry int,
Maths int);"""
crsr.execute(sql_command)

ins = """INSERT INTO Student VALUES(1000, "Alice", "alice@gmail.com", "Female", 70, 80, 90);"""
crsr.execute(ins)
ins = """INSERT INTO Student VALUES(1001, "Bob", "bob@gmail.com", "Male", 74, 60, 70);"""
crsr.execute(ins)
ins = """INSERT INTO Student VALUES(1002, "Chris", "chris@gmail.com", "Female", 76, 66, 76);"""
crsr.execute(ins)

cmd = "SELECT * FROM Student"
crsr.execute(cmd)

ans = crsr.fetchall()
for i in ans:
    print(i)

connection.close()

(1000, 'Alice', 'alice@gmail.com', 'Female', 70, 80, 90)
(1001, 'Bob', 'bob@gmail.com', 'Male', 74, 60, 70)
(1002, 'Chris', 'chris@gmail.com', 'Female', 76, 66, 76)